
//colors = 
$fondo: #18191A;
$fondo-light:#F0F2F5;
// $fondo: #d2d6de;
$fondo-panel: #242526 ;
$fondo-contenido: #3A3B3C;
$color-primary:#7e18f2;
$color-second:red;

$iconos: #DFDFDF;
$texto-principal: #E4E6EB;
$texto-secundario: #DAE6EB;
$tecto-opaco: #B0A684;


/*******************/
$blanco-0:#FFFFFF;
$blanco-1: #F7F7F8;
$blanco-2: #EFEFF1;
$rojo: #E91916;
$morado: #9147FF;
$verde: #31A24C;
$negro-0: #0E0E10;
$negro-1: #464646;